<div id="container_inner" class="fill_parent" ng-controller="contact_controller">
    <div id="contact_image_container">
        <img ng-src="/Home/ContactImage" />
    </div>
    <div id="contact_info_list_container">
        <ul>
            <li>
                {{contactInfo.Name}}
            </li>
            <li>
                {{contactInfo.Age}} år gammel
            </li>
            <li>
                Email: {{contactInfo.Email}}
            </li>
        </ul>
    </div>

    <div id="contact_info_text_container">
        {{contactInfo.Text}}
    </div>
    
</div>

    
