<div id="container_inner" class="fill_parent" ng-controller="home_controller">
    <div class="home_post_container" ng-repeat="post in posts">
        <div class="home_post_header text_overflow">
            <a ng-click="goToPost(post.PostId)">
                {{post.Title}}
            </a>
        </div>
        <div class="home_post_image_container">
            <img ng-src="/Home/Image/?imageID={{post.MainImageID}}" ng-click="goToPost(post.PostId)" />
        </div>
        <div class="home_post_intro text_overflow text_formatting">
            {{post.IntroText}}
        </div>
        <div class="home_post_goto" ng-click="goToPost(post.PostId)">
            Read More
        </div>
    </div>

</div>
