<div id="container_inner" ng-controller="post_controller">
    <div id="post_container">

        <div id="post_header">
            <div id="post_header_title" class="fill_parent" >
                {{post.Title}}
            </div>
            <div id="post_header_type" class="fill_parent" >
                {{post.Type}}
            </div>
        </div>

        <div id="post_intro" class="post_text text_formatting">{{post.IntroText}}</div>

        <div id="post_image_container">
            <img ng-src="/Home/Image/?imageID={{post.MainImageID}}" />
        </div>

        <div id="post_ingredients_header">
            Ingredients
        </div>

        <div id="post_ingredients">
            <ul id="post_ingredients_list">
                <li class="post_ingredient post_text" ng-repeat="ingredient in post.Ingredients">
                    {{ingredient.Text}}
                </li>
            </ul>
        </div>

        <div id="post_steps_header">
            Steps
        </div>
    
        <div id="post_steps">
            <ol id="post_steps_list">
                <li class="post_step post_text " ng-repeat="step in post.Steps">
                    <div>{{step.Text}}</div>
                    <div ng-if="step.StepImageID" class="step_image_container">
                        <img ng-src="/Home/Image/?imageID={{step.StepImageID}}"/>
                    </div>
                    
                </li>
            </ol>
        </div>

        <div id="post_outro" class="post_text text_formatting">{{post.OutroText}}</div>

        <div id="post_tags" class="post_text">
            <a ng-repeat="tag in post.Tags" ng-click="showPostsByTags(tag.Text)">
                {{tag.Text}}<span ng-if="$index < post.Tags.length-1">, </span>
            </a> 
            
            
        </div>

    </div>
</div>
