<!DOCTYPE html>
<html>
<head>
    <title>Blog</title>
	<meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../Content/main_style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
    <script src="../Scripts/main_script.js"></script>
</head>
<body ng-app="blog_app" ng-controller="main_controller">

    <div id="main_header" class="main_element">
        <div id="main_header_title">{{title}}</div>
        <div id="main_header_menu_wrapper">
            <ul id="main_header_menu">
                <li id="main_header_menu_entry_home" ng-click="changeView('Home')">
                    {{header_entries_text[0]}}
                </li>
                <li id="main_header_menu_entry_recipes">
                    {{header_entries_text[1]}}
                    <div id="main_header_menu_entry_recipes_dropdown" class="main_element">
                        <div ng-repeat="type in types"  class="main_header_menu_entry_recipes_dropdown_item">
                            {{type}}
                        </div>
                    </div>
                </li>
                <li id="main_header_menu_entry_contact" ng-click="changeView('Contact')">
                    {{header_entries_text[2]}}
                </li>
            </ul>
        </div>
        
    </div>

    <div id="main_container" ng-style="{height: container_height + 'px'}">
        <div id="main_container_view" class="main_element" ng-view>

        </div>
        <div id="main_container_menu" class="main_element">

        </div>
    </div>

    

    

    
    
</body>
</html>
