<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="../../Scripts/test_script.js"></script>
    
</head>
<body ng-app="test_app">

    <h1>API Test</h1>
    <div id="add_post_div" ng-controller="test_controller">
        Title: <input id="add_post_title_input" type="text" />
        <br />
        Intro: <textarea id="add_post_intro_input" />
        <br />
        Ingredients: <input id="add_post_ingredients_input" type="text" />
        <br />
        Steps: <input id="add_post_steps_input" type="text" />
        <br />
        Tags: <input id="add_post_tags_input" type="text" />
        <br />
        <input type="file" id="upload_file_input" />
        <br />
        <button id="add_post_button" ng-click="addPost()">Add Post</button>
        <br />
    </div>
    <hr />
    <button id="list_posts_button">List All Posts</button>
    <br />
    Tags: <input id="list_posts_by_tags_input" type="text" />
    <br />
    <button id="list_posts_by_tags_button">List Posts By Tag</button>
    <div id="list_posts_div">
    </div>
    <hr />
    <button id="list_tags_button">List Tags</button>
    <div id="list_tags_div">

    </div>

    <button id="test_random_button">Test Random</button>

    <hr />
    <div >
        
    </div>
    

    

</body>
</html>
