body {
    background: #cccccc;
}

.main_element {
    background: white;
    -webkit-box-shadow: 0px 0px 3px 1px black;
    -moz-box-shadow: 0px 0px 3px 1px black;
    box-shadow: 0px 0px 3px 1px black;
}

.fill_parent {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}


.text_formatting {
    white-space: pre-line;
    word-break: break-word;
}


#main_header {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 120px;
    z-index: 3;
    
    
}

#main_header_title {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 60%;
    text-align: center;
    
        
    text-align: center;
    vertical-align: middle;
    line-height:60px;
    font-size: 45px;
    
}

#main_header_menu_wrapper {
    position: absolute;
    left: 25%;
    top: 60px;
    width: 50%;
    height: 60px;
    

}

#main_header_menu {
    border-top: 1px solid #094ebc;
    list-style:none;
    margin: 0;
    padding: 0;
    text-align:center;
    width: 100%;
    height: 100%;
    

}

#main_header_menu li {
    background: white;
    display: inline-block;
    height: 58px;
    line-height: 60px;
    font-size: 28px;
    width: 32%;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

#main_header_menu li:hover {
    background: #f2f2f2;
}

#main_header_menu_entry_recipes {
    cursor: default;

}

#main_header_menu_entry_recipes:hover div {
    visibility: visible;
    top: 99%;
}

#main_header_menu_entry_recipes_dropdown {
    position: absolute;
    top: -100%;
    z-index: -1;
    visibility: hidden;
    width: 32%;
    -webkit-box-shadow: 0px 3px 3px 0px black;
    -moz-box-shadow: 0px 3px 3px 0px black;
    box-shadow: 0px 3px 3px 0px black;
    -webkit-transition: visibility 0s, top 1s;
    transition: visibility 0s linear 1s, top 1s;
}


.main_header_menu_entry_recipes_dropdown_item:hover {
    background: #f2f2f2;
    display: block;
}

#main_container {
    position: relative;
    margin: 0 auto;
    margin-top: 140px;
    width: 1600px;
    max-width: 80%;
    
}

#main_container_view {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 72%;
    height: inherit;
}

#main_container_menu {
    position: absolute;
    left: 75%;
    top: 0%;
    width: 25%;
    height: inherit;
    

}



/* /AngularViews/List */


.list_post_container {
    position: relative;
    width: 100%;
    height:500px;
}

.list_post_container:before {
  content : "";
  position: absolute;
  left    : 0%;
  bottom  : 0;
  height  : 1px;
  width   : 100%;
  border-bottom:1px solid #094ebc;
}

.list_post_header {
    position: absolute;
    left: 60%;
    top: 20px;
    width: 40%;
    height: 50px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height:50px;
    font-size: 32px;
}

.list_post_header:before {
  content : "";
  position: absolute;
  left    : 15%;
  bottom  : 0;
  height  : 1px;
  width   : 70%;
  border-bottom:1px solid #094ebc;
}

.list_post_header a {
    cursor: pointer;
    text-decoration: none;
}

.list_post_header a:link, a:visited {
    color: black;
}

.list_post_image_container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60%;
    height: 100%;
}

.list_post_image_container img {
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    cursor: pointer;
}

.list_post_intro {
    position: absolute;
    left: 63%;
    top: 60px;
    width: 34%;
    height: 350px;
    font-size: 24px;
    line-height: 25px;
    
}

.list_post_goto {
    position: absolute;
    left: 63%;
    top: 425px;
    width: 34%;
    height: 40px;
    background: #094ebc;
    text-align: center;
    vertical-align: middle;
    line-height:35px;
    font-size: 18px;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


/* /AngularViews/Post */

.post_text {
    font-size: 24px;
    line-height: 30px;
    color: #094ebc;
}

#post_container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
}

#post_header {
    position: relative;
    left: 5%;
    top: 0%;
    width: 90%;
    height: 120px;
    border-bottom: 1px solid black;
}

#post_header_title {
    height: 80px;
    text-align: center;
    vertical-align: bottom;
    line-height:80px;
    font-size: 44px;
}

#post_header_type {
    top: 70px;
    height: 60px;
    text-align: center;
    vertical-align: top;
    font-size: 26px;
    font-style: italic;
    color: #53565b;
    
}

#post_intro {
    position: relative;
    left: 5%;
    width: 90%;
}

#post_image_container {
    
    position: relative;
    left: 5%;
    width: 90%;
    height: 700px;
}

#post_image_container img {
   position: absolute;
   left: 0%;
   top: 5%;
   width: 100%;
   height: 90%;
   border: 1px solid black;
}

#post_ingredients_header {
    
    position: relative;
    left: 5%;
    top: 0%;
    width: 90%;
    height: 50px;
    line-height: 50px;
    font-size: 34px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

#post_ingredients {
    position: relative;
    left: 4%;
    top: 0%;
    width: 92%;
}


.post_ingredient {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
}

#post_steps_header {
    
    position: relative;
    left: 5%;
    top: 0%;
    width: 90%;
    height: 50px;
    line-height: 50px;
    font-size: 34px;
    vertical-align: middle;
    border-bottom: 1px solid black;
}

#post_steps {
    position: relative;
    left: 4%;
    top: 0%;
    width: 92%;
    border-bottom: 1px solid black;
}


.post_step {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
}

.step_image_container {
    position: relative;
    left: 0%;
    width: 70%;
    height: 400px;
}

.step_image_container img {
   position: absolute;
   left: 0%;
   top: 5%;
   width: 100%;
   height: 90%;
   border: 1px solid black;
}

#post_outro {
    position: relative;
    left: 5%;
    width: 90%;
    padding: 2% 0 2% 0;
    border-bottom: 1px solid black;
}

#post_tags {
    position: relative;
    left: 5%;
    width: 90%;
    font-size: 20px;
    line-height: 30px;
    color: #094ebc;
    font-style: italic;
    display: inline-block;
}

#post_tags a {
    text-decoration: none;
}





