body {
    background: #cccccc;
}

.main_element {
    background: white;
    -webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.75);
}

#header {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 120px;
    z-index: 1;
    
    
}

#header_title {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 60%;
    text-align: center;
    
        
    text-align: center;
    vertical-align: middle;
    line-height:60px;
    font-size: 45px;
    
}

#header_menu_wrapper {
    position: absolute;
    left: 25%;
    top: 60px;
    width: 50%;
    height: 60px;
    

}

#header_menu {
    border-top: 1px solid #ccc;
    list-style:none;
    margin:0;
    padding: 0;
    text-align:center;
    width: 100%;
    height: 100%;
    
    
}

#header_menu li {
    background: white;
    display: inline-block;
    height: 58px;
    line-height: 60px;
    font-size: 28px;
    width: 32%;
    cursor: pointer;
    transition: 0.3s;
}

#header_menu li:hover {
    background: #f2f2f2;
}

#container {
    position: relative;
    margin: 0 auto;
    margin-top: 140px;
    width: 1600px;
    height: 1600px;
}



#container_view {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 72%;
    height: inherit;
    
}

#container_menu {
    position: absolute;
    left: 75%;
    top: 0%;
    width: 25%;
    height: inherit;
    

}


#container_inner {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}


/* /AngularViews/Home */

.home_post_container {
    position: relative;
    width: 100%;
    height:500px;
}

.home_post_container:before {
  content : "";
  position: absolute;
  left    : 5%;
  bottom  : 0;
  height  : 1px;
  width   : 90%;
  border-bottom:1px solid #ccc;
}

.post_header {
    position: absolute;
    left: 60%;
    top: 20px;
    width: 40%;
    height: 50px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height:50px;
    font-size: 32px;
}

.post_header:before {
  content : "";
  position: absolute;
  left    : 15%;
  bottom  : 0;
  height  : 1px;
  width   : 70%;
  border-bottom:1px solid #ccc;
}

.post_header a {
    cursor: pointer;
    text-decoration: none;
}

.post_header a:link, a:visited {
    color: black;
}

.post_image_container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60%;
    height: 100%;
}

.post_image_container img {
    position: absolute;
    left: 2%;
    top: 2%;
    width: 96%;
    height: 96%;
    cursor: pointer;
}

.post_intro {
    position: absolute;
    left: 63%;
    top: 100px;
    width: 34%;
    height: 380px;
    font-size: 18px;
    
}



