body {
    background-color: white;
    font-size: 0.9em;
}

.main_element {
    background: white;
}

.fill_parent {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
}

.text_overflow {
    overflow: hidden;
    text-overflow: ellipsis;
}


.text_formatting {
    white-space: pre-line;
    word-break: break-word;
}


#main_header {
    position: fixed;
    left: 0%;
    top: 0%;
    width: 100%;
    min-width:1000px;
    height: 120px;
    z-index: 1;
    border-bottom: 1px solid #094ebc;
    background-color: rgba(255, 255, 255, .8);
    
    
}

#main_header_title {
    position: absolute;
    left: 25%;
    width: 50%;
    height: 60%;
    text-align: center;
    vertical-align: middle;
    line-height:60px;
    font-size: 3em;
    
}

#main_header_menu_wrapper {
    position: absolute;
    left: 25%;
    top: 60px;
    width: 50%;
    height: 60px;
}

#main_header_menu {
    position: absolute;
    border-top: 1px solid #094ebc;
    list-style:none;
    margin: 0;
    padding: 0;
    text-align:center;
    width: 100%;
    height: 100%;
}

#main_header_menu li {
    position: relative;
    display: inline-block;
    height: 58px;
    line-height: 60px;
    font-size: 2em;
    width: 32%;
    cursor: pointer;
    transition: 0.3s;

}

#main_header_menu li:hover {
    background-color: rgba(255, 255, 255, 1);
}


#main_header_menu_entry_recipes:hover #main_header_menu_entry_recipes_dropdown {
    position: absolute;
    visibility: visible;
    width: 100%;
    
}

#main_header_menu_entry_recipes_dropdown {
    position: absolute;
    visibility:hidden;
    left: 0%;
    top: 100%;
    width: 100%;
    z-index: 1;
    border: 1px solid #094ebc;
    border-top: none;
    margin-top: 1px;


}

.main_header_menu_entry_recipes_dropdown_item {
    border-bottom: solid black 1px;
    font-size: 0.8em;
}

.main_header_menu_entry_recipes_dropdown_item:last-child {
    border-bottom: none;
}

.main_header_menu_entry_recipes_dropdown_item:hover {
    background-color: #f2f2f2;
}



#main_container {
    position: relative;
    margin: 0 auto;
    margin-top: 140px;
    min-width: 1200px;
    width: 1400px;
    max-width: 80%;
    
    
}

#main_container_view {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 80%;
    height: inherit;
}

#main_container_menu {
    position: absolute;
    left: 85%;
    top: 0%;
    width: 15%;
    height: inherit;
    

}

#main_container_menu_tags {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    
}

#main_tags_header_unselected {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

#main_tags_listing_unselected {
    position: relative;
    left: 2%;
    width: 94%;
    line-height: 30px;
}

.main_tags_unselected {
    display:inline;
    margin: 5px;
    padding: 1%;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    background-color: #094eff;
    color: white;
}

#main_tags_header_selected {
    position: relative;
    top: 10px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#main_tags_listing_selected {
    position: relative;
    left: 3%;
    top: 15px;
    width: 94%;
    line-height: 30px;
}

.main_tags_selected {
    background-color: #09a1ff;
    position: relative;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}





/* /AngularViews/List */


.list_post_container {
    position: relative;
    width: 100%;
    height:500px;
}

.list_post_container:before {
  content : "";
  position: absolute;
  left    : 0%;
  bottom  : 0;
  height  : 1px;
  width   : 100%;
  border-bottom: 1px solid #094ebc;
}

.list_post_image_container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 60%;
    height: 100%;
}

.list_post_image_container img {
    position: absolute;
    left: 0%;
    top: 2%;
    width: 100%;
    height: 96%;
    cursor: pointer;
}

.list_post_header {
    position: absolute;
    left: 60%;
    top: 0%;
    width: 40%;
    height: 50px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
    line-height:50px;
    font-size: 2.5em;
}

.list_post_header:before {
  content : "";
  position: absolute;
  left    : 5%;
  bottom  : 0%;
  height  : 1px;
  width   : 90%;
  border-bottom: 1px solid #094ebc;
}

.list_post_header a {
    cursor: pointer;
    text-decoration: none;
}

.list_post_header a:link, a:visited {
    color: black;
}

.list_post_intro {
    position: absolute;
    left: 62%;
    top: 35px;
    width: 38%;
    height: 350px;
    font-size: 1.3em;
    line-height: 25px;
    
}

.list_post_goto {
    position: absolute;
    left: 62%;
    bottom: 2%;
    width: 36%;
    height: 40px;
    background: #094ebc;
    text-align: center;
    vertical-align: middle;
    line-height:35px;
    font-size: 1.4em;
    color: white;
    border-radius: 2px;
    cursor: pointer;
}


/* /AngularViews/Post */

.post_text {
    font-size: 1.6em;
    line-height: 30px;
    color: black;
}

#post_container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
}

#post_header {
    
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 120px;
    border-bottom: 1px solid #094ebc;
}

#post_header_title {
    height: 80px;
    text-align: center;
    vertical-align: bottom;
    line-height:80px;
    font-size: 3.5em;
}

#post_header_type {
    top: 70px;
    height: 60px;
    text-align: center;
    vertical-align: top;
    font-size: 1.8em;
    font-style: italic;
    color: #53565b;
    
}

#post_intro {
    position: relative;
    left: 0%;
    top: 10px;
    width: 100%;
}

#post_image_container {
    position: relative;
    left: 0%;
    width: 100%;
    height: 700px;
}

#post_image_container img {
   position: absolute;
   left: 0%;
   top: 5%;
   width: 100%;
   height: 90%;
   border: 1px solid black;
}

#post_ingredients_header {
    
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em;
    vertical-align: middle;
    border-bottom: 1px solid #094ebc;
}

#post_ingredients {
    position: relative;
    left: -1%;
    top: 0%;
    width: 100%;
}


.post_ingredient {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
}

#post_steps_header {
    
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 2.2em;
    vertical-align: middle;
    border-bottom: 1px solid #094ebc;
}

#post_steps {
    position: relative;
    left: -1%;
    top: 0%;
    width: 100%;
    border-bottom: 1px solid #094ebc;
}

.post_step {
    position: relative;
    left: 0%;
    top: 0%;
    width: 100%;
}

.step_image_container {
    position: relative;
    left: 0%;
    width: 70%;
    height: 400px;
}

.step_image_container img {
   position: absolute;
   left: 0%;
   top: 5%;
   width: 100%;
   height: 90%;
   border: 1px solid black;
}

#post_outro {
    position: relative;
    left: 0%;
    width: 100%;
    padding: 2% 0 2% 0;
    border-bottom: 1px solid #094ebc;
}

#post_tags {
    position: relative;
    left: 0%;
    width: 100%;
    font-size: 1.3em;
    line-height: 30px;
    color: #27408B;
    font-style: italic;
    display: inline-block;
}

#post_tags a {
    cursor: pointer;
}


/* /AngularViews/Contact */

#contact_image_container {
    
    position: absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 100%;
    text-align: center;
    border-right: 2px solid black;
}

#contact_image_container img {
    width: auto;
    height: 100%;
    max-height: 100%;
}

#contact_info_list_container {
    position: relative;
    left: 50%;
    width: 50%;
    font-size: 2em;
    
}

#contact_info_list_container li {
    margin: 10px
}

#contact_info_text_container {
    position: relative;
    left: 52%;
    width: 46%;
    font-size: 1.4em;
}
